[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/WaPoco/ft_printf.git
[submodule "Libft"]
	path = Libft
	url = https://github.com/WaPoco/Libft.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/ttshivhula/minilibx.git
